* {
  font-style: none;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ovo", serif;
  color: var(--purple);
  text-align: center;
}

body {
  background-image: url("./SVG/ana.svg"), url("./SVG/maria.svg");
  background-size: 50%, 40%;
  background-repeat: no-repeat;
  background-position: -60%, 120%;
}
img {
  height: 10px;
}
:root {
  --white: #fff;
  --background: #f2f3f5;
  --gray-line: #dcdde0;
  --text: #666666;
  --title: #2e384d;
  --red: #f34a4a;
  --green: #4cd62b;
  --blue: #5965e0;
  --blue-dark: #4953b8;
  --blue-twitter: #2aa9e0;
  --purple: #a9518b;
  --purple-dark: #803366;
}

.container {
  padding: 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 980px;
  margin: 0 auto;
}
h1 {
  font-size: 5rem;
  letter-spacing: 0.4em;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.8rem;
}
/*  Header */

header {
  position: fixed;
  background: rgba(250, 250, 250, 0.6);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.3rem;
}
header img {
  height: 2rem;
}
header > div {
  display: flex;
  align-items: center;
}
header a {
  display: flex;
  align-items: center;
}
header a img {
  height: 12px;
  margin-right: 0.3rem;
}
/*  main */

.container > div {
  display: flex;
  margin: 0 auto;
}
.container > div > img {
  height: 28rem;
  padding-right: 2rem;
}
.textos {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 65rem;
}
.textos h1 {
  margin: 1rem 0 3rem 0;
}
.extras {
  padding: 3rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6rem;
}

.icones {
  width: 200px;
  display: flex;

  justify-content: center;
  gap: 0rem;
}
.icones img {
  height: 2.8rem;
  padding-right: 1rem;
}
.icones h4 {
  text-align: left;
}
button {
  background-color: var(--purple);
  color: var(--white);
  font-size: 2rem;
  border-radius: 20px;
  padding: 0.5rem 8rem;
  border-style: none;
}
button:hover {
  background-color: var(--purple-dark);
  transition: 0.5s;
  padding: 0.8rem 8.3rem;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
  body {
    background-size: 0;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 70.5%;
  }
  .container > div {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column-reverse;
    margin: 0 0;
  }
  .container > div > img {
    height: 0;
    width: 0;
    margin: 0;
    padding: 0 0 0 0;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 30%;
  }
}
